{
  "extends": [
    "stylelint-config-prettier",
    "stylelint-prettier/recommended"
  ],
  "ignoreFiles": [
    "./src/normalize.css"
  ],
  "plugins": [
    "stylelint-prettier"
  ],
  "rules": {
    "at-rule-no-unknown": [
      true,
      {}
    ],
    "color-hex-length": "long",
    "prettier/prettier": [
      true,
      {
        "singleQuote": true
      }
    ],
    "property-no-unknown": [
      true,
      {
        "ignoreProperties": [
          "composes",
          "compose-with"
        ]
      }
    ],
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": [
          "export",
          "import",
          "global",
          "local",
          "external"
        ]
      }
    ],
    "selector-type-no-unknown": [
      true,
      {
        "ignoreTypes": [
          "from",
          "/^-.*/"
        ]
      }
    ]
  }
}
