.tabs {
  border: solid 1px #999999;
  min-height: 500px;
  display: flex;
  flex-direction: column;
}

.titles {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.title {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding: 5px 0;
  cursor: pointer;
}

.activeTitle {
  font-weight: bold;
}

.content {
  display: none;
}

.activeContent {
  display: flex;
  flex-grow: 1;
}
